{% extends 'base.html.twig' %}

{% block title %}Ajout album
{% endblock %}

{% block stylesheets %}
	<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
{% endblock %}

{% block body %}

	<h1 class="pt-2 text-center">
		{% if (app.request.attributes.get('_route') == "admin_album_ajout") %}
			Ajout
		{% else %}
			Modification
		{% endif %}
		d'un album</h1>

	{{ form_start(formAlbum, {'attr':{'novalidate':'novalidate'}}) }}

	<div class="row">
		<div class="col-8">
			{{ form_row(formAlbum.nom) }}
			{{ form_row(formAlbum.date) }}
			{{ form_row(formAlbum.artiste) }}
			{{ form_row(formAlbum.styles) }}
		</div>
		<div class="col-4">
			<div>
			<img src="{{ asset("images/albums/" ~ formAlbum.image.vars.value)}}" id="imageAffichee" alt="pochette de l'album" class="rounded mx-auto d-block img-thumbnail mt-4" style="height: 220px; wight: 220px;">
			</div>
			<br>
			<div>
			{{ form_row(formAlbum.imageFile) }}
			{{ form_errors(formAlbum.imageFile) }}
			<a class="btn btn-primary d-block center" id="chargePochette"><i class="fas fa-upload"></i>Charger la pochette</a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<a href="{{ path('admin_albums')}}" class="btn btn-success w-100 d-block">Annuler</a>
		</div>
		<div class="col"><input type="submit" class="btn btn-warning w-100 d-block" value={% if (app.request.attributes.get('_route') == "admin_album_ajout") %} ajouter un album {% else %} modifier une album {% endif %} "l'album"></div>
	</div>

	{{ form_end(formAlbum) }}

{% endblock %}

{% block javascripts %}
	<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
	<script>
		$(document).ready(function () {
        $('.selectStyles').select2();
        });
	</script>
	<script src="{{ asset("js/gestionUpload.js") }}" defer ></script>
{% endblock %}
